{% extends 'base.html' %}

{% block titulo %}
    Produtos
{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align: center;" >Produtos</h1>
    </div>
<div>
    <table class="container table table-hover table-bordered">
        <thead>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Cód Barra</th>
                <th scope="col">Preço</th>
                <th scope="col">Descrição</th>
        </thead>
        <tbody>
        {% for item in itens %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.cod_barra}}</td>
            <td>{{item.preco}}</td>
            <td>{{item.descricao}}</td>
        </tr>
        {% endfor%}
        </tbody>
    </table>
</div>
{% endblock %}

